DBTX_RUST_BASE_IMAGE=docker-snapshot-local.docker.awstrp.net/com/trp/ea/unity-base-docker/trp-rust/rust:1.93.0-slim-404
DBTX_FUSION_DOWNLOAD_URL=https://public.cdn.getdbt.com/fs/install/install.sh
DBTX_GITHUB_RELEASES_URL=https://artifactory.awstrp.net/artifactory/github.com-releases
NPM_REGISTRY=https://registry.npmjs.org/